@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  background: #ebe9e9;
}

.imagCustom {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
 
.modalAnimate{
  animation: scaleModal 0.5s 1;
}
@keyframes scaleModal {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
